.light-theme {
  --card-bg: #ffffff;
  --card-border: #e2e8f0;
  --card-shadow: rgba(148, 163, 184, 0.15);

  --text-primary: #0f172a;
  --text-secondary: #334155;

  --input-bg: #f8fafc;
  --input-border: #cbd5e1;
  --input-placeholder: #64748b;

  --button-bg: #0284c7;
  --button-hover: #0ea5e9;
    --button-bg2: #64748b;
      --button-hover2: #95a4b9;



  --error-color: #e11d48;

  --dropdown-bg: #ffffff;

  --background-page: #f8fafc;

  
  --background: #f8fafc;
  --foreground: #0f172a;
  --foreground2: #548dc6;


  --card: #ffffff;
  --border: #dbe4ee;

  --input-bg: #ffffff;


    --dropdown-bg: #ffffff;
  --dropdown-item-bg: #ffffff;
  --dropdown-item-hover: #f1f5f9;
  --dropdown-text: #0f172a;
  --dropdown-border: #cbd5e1;

  
}