:root{
  --background: #363543 !important;
  --backgroundDark: #414050 !important;

  --secondaryBackground:#55556d;
  --thirdBackground: #606176;
  --text:#ffffff;
  --yellow:#eeba42;
  --blue:#2e6db0;

}


#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body{
  background-color: var(--background);
  color: var(--text);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.header {
  grid-area: header;
  text-align: center;
}

button {
  background: #363543;

}

.card-box {
  grid-area: card-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.income, .expense, .saving {
  padding: 2em;
  background-color: var(--secondaryBackground);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.25);
  text-align: center;
}

input {
  width: 70%;
padding: 10px;
border:1px solid rgba(255, 253, 253, 0.25);
background:(var(--blue));
border-radius: 5px;
outline: none;
color: #fff;
font-size: 1em;
transition: 0.5s;
margin: 5px;

}

.income button {
  background: #363543;
  margin-top: 10px;

}

.income label{
  color: #fff;

}



.expense button {
  background: #363543;
  margin-top: 10px;
}



.transfer {
  grid-area: transfer;
  text-align: center;
}

.transfer button {
  background: #606176;
}

.transcation {
  grid-area: transcation;
  text-align: center;
}

.transcation table {
  width: 100%

}

.incomeList{
  grid-area: incomeList;
}

.ExpenseList{
  grid-area: ExpenseList;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
    "header header header"
    "card-box card-box card-box"
    "   incomeList   ExpenseList   .   "
    ". transfer ."
    "transcation  transcation transcation";
  padding: 2px 16px;
  gap: 10px;
}